.btn {
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 10px 5px;
  background-color: #4d4dda;
  border: none;
  color: #fafafa;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #2121d6;
}
body {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}
header {
  padding: 30px;
}
header .heading {
  line-height: 1.5em;
  font-size: 24px;
  margin-bottom: 30px;
}
header .heading span {
  display: block;
}
header .heading strong {
  text-transform: uppercase;
}
header .header-form {
  padding: 35px 20px;
  border: 2px solid #4d4dda;
}
header .header-form p {
  font-size: 20px;
  font-weight: 900;
}
header .header-form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 5px;
  outline: none;
  color: #000;
}
.content {
  padding: 30px;
}
.content h1.content-heading {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 30px;
}
.content-card {
  margin-bottom: 20px;
}
.content-card i {
  color: #000;
  font-size: 40px;
  margin-bottom: 10px;
}
.content-card p {
  color: #333;
  font-weight: normal;
  text-transform: uppercase;
}
